fluxo_n8n.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ",
          "mode": "list",
          "cachedResultName": "N8N - Disparo em massa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1241466059,
          "mode": "list",
          "cachedResultName": "Nova_Campanha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit#gid=1241466059"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Nome_Campanha",
              "lookupValue": "={{ $json.query.nome_campanha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        768
      ],
      "id": "6f7282e6-13c6-4e41-a429-f2e74439c0b1",
      "name": "Ler_Planilha",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fn4LkSgE7ACPqCIU",
          "name": "Ismael - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        768
      ],
      "id": "d5cbaea2-e0a2-45be-98d8-e94784e066a9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "phoneNumberId": "975497088973041",
        "recipientPhoneNumber": "={{ $json.Telefone.toString().replace(/\\D/g, '') }}",
        "template": "={{ $json.Nome_template }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1024,
        784
      ],
      "id": "495e73d5-7ebe-4711-8b61-384ea65f5a5e",
      "name": "Send template",
      "webhookId": "03960570-35c2-4dba-a550-f1ce7b4aab7d",
      "credentials": {
        "whatsAppApi": {
          "id": "rE6RjLkmaZTvc0DK",
          "name": "Vitalis - WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ",
          "mode": "list",
          "cachedResultName": "N8N - Disparo em massa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1241466059,
          "mode": "list",
          "cachedResultName": "Nova_Campanha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit#gid=1241466059"
        },
        "clear": "specificRows",
        "startIndex": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        576
      ],
      "id": "3b87d6d5-bb1e-4e9a-a879-0450dc84afde",
      "name": "Delete rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fn4LkSgE7ACPqCIU",
          "name": "Ismael - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ",
          "mode": "list",
          "cachedResultName": "N8N - Disparo em massa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1241466059,
          "mode": "list",
          "cachedResultName": "Nova_Campanha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit#gid=1241466059"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Loop Over Items').item.json.row_number }}",
            "Status Envio": "Concluído",
            "Nome": "={{ $json.Nome }}",
            "Telefone": "={{ $json.Telefone }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome_Campanha",
              "displayName": "Nome_Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome_template",
              "displayName": "Nome_template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Envio",
              "displayName": "Status Envio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1440,
        784
      ],
      "id": "d2be9602-dc8b-4397-836f-dc57285c5cc8",
      "name": "Up - Concluido",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fn4LkSgE7ACPqCIU",
          "name": "Ismael - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        304,
        -768
      ],
      "id": "d36ff9fd-302f-4217-8b0b-b1e6d1983f32",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ",
          "mode": "list",
          "cachedResultName": "N8N - Disparo em massa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1241466059,
          "mode": "list",
          "cachedResultName": "Nova_Campanha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit#gid=1241466059"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ $json.nome }}",
            "Telefone": "={{ $json.contato }}",
            "Nome_Campanha": "={{ $json[\"nome da campanha\"] }}",
            "Nome_template": "={{ $json[\"nome do template\"] }}",
            "Status Envio": "Pendente"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome_Campanha",
              "displayName": "Nome_Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome_template",
              "displayName": "Nome_template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Envio",
              "displayName": "Status Envio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        -768
      ],
      "id": "9f746753-2d91-437b-8947-02fdf2675ec0",
      "name": "UP - Contatos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fn4LkSgE7ACPqCIU",
          "name": "Ismael - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"Status\": \"Concluído\",\n  \"Mensagem\": \"Todos os contatos foram salvos na planilha com sucesso.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        928,
        -768
      ],
      "id": "9c34d2ef-a0e6-48f4-b9a3-438458fdcd9c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Criar Campanha\n",
        "height": 336,
        "width": 1136,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -880
      ],
      "typeVersion": 1,
      "id": "a38195b5-4c5f-4140-8712-5fbab82c247e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        928,
        -384
      ],
      "id": "fa49fa0d-c96e-4a75-bb09-e85a153ff096",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "content": "## Campanhas Pendentes\n",
        "height": 336,
        "width": 1136,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -496
      ],
      "typeVersion": 1,
      "id": "5f0468f6-de95-4716-b685-392537a05f68",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Disparador\n",
        "height": 544,
        "width": 1680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        512
      ],
      "typeVersion": 1,
      "id": "db2bc241-e055-4840-9215-a352935871fb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "path": "listar-campanhas",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        -384
      ],
      "id": "a79c4c32-2ad3-46f4-9890-89acde03199c",
      "name": "lista_campanhas",
      "webhookId": "b86abcf0-5cfc-4558-91dd-df9422898899"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ",
          "mode": "list",
          "cachedResultName": "N8N - Disparo em massa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1241466059,
          "mode": "list",
          "cachedResultName": "Nova_Campanha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit#gid=1241466059"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status Envio",
              "lookupValue": "Pendente"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        -384
      ],
      "id": "3e2ed97d-c10b-4c98-88af-b3c1d24f3f57",
      "name": "Lista-campanhas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fn4LkSgE7ACPqCIU",
          "name": "Ismael - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ",
          "mode": "list",
          "cachedResultName": "N8N - Disparo em massa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1526735880,
          "mode": "list",
          "cachedResultName": "Pós-Campanha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit#gid=1526735880"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ $('Loop Over Items').item.json.Nome }}",
            "Telefone": "={{ $('Loop Over Items').item.json.Telefone }}",
            "Nome_Campanha": "={{ $('Loop Over Items').item.json.Nome_Campanha }}",
            "Nome_template": "={{ $('Loop Over Items').item.json.Nome_template }}",
            "Status_Campanha": "Concluído"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome_Campanha",
              "displayName": "Nome_Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome_template",
              "displayName": "Nome_template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Envio",
              "displayName": "Data Envio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu?",
              "displayName": "Respondeu?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status_Campanha",
              "displayName": "Status_Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        784
      ],
      "id": "db00c131-c4c0-4ce1-8221-906c183c14f5",
      "name": "Criar/Mover - Pós Camanha",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fn4LkSgE7ACPqCIU",
          "name": "Ismael - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cadastrar-contato",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        -768
      ],
      "id": "7c7ded79-2d3b-4b3b-97a3-d6b5a1b3c5df",
      "name": "Criar_Campanha",
      "webhookId": "b86abcf0-5cfc-4558-91dd-df9422898899"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v21.0/1831804027473376/message_templates",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1568,
        -784
      ],
      "id": "a68784d7-795a-4933-bb63-d2317abefdaa",
      "name": "Consultar Template - HTTP Request",
      "credentials": {
        "whatsAppApi": {
          "id": "rE6RjLkmaZTvc0DK",
          "name": "Vitalis - WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "path": "consultar-template",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1280,
        -784
      ],
      "id": "e589f13b-afa2-4203-a352-dbbcb8d5ccba",
      "name": "Consultar_Template",
      "webhookId": "e9e79dfc-d6c1-49a7-b8d2-34258e9dd3c7"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1824,
        -784
      ],
      "id": "9ed4c835-94b0-4cf9-99f2-db8614662277",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "content": "## Consulta Template\n",
        "height": 336,
        "width": 864
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        -880
      ],
      "typeVersion": 1,
      "id": "d8d56e06-5b9f-4a3f-a109-12e81525f235",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "path": "disparar_camapanha",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Accept, Origin"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        688
      ],
      "id": "35e55159-0ad3-40c5-a2e8-5dd0cfe4fd6e",
      "name": "Disparar_Campanha",
      "webhookId": "10d19515-e30b-44a1-8cf5-93f4a237f013"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        928,
        16
      ],
      "id": "432a6471-c334-4a08-a48d-857fd0a2fea6",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "content": "## Campanhas Concluídas ",
        "height": 336,
        "width": 1136,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -96
      ],
      "typeVersion": 1,
      "id": "8838dc8c-57ef-4030-bb87-ceb8b016728c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "path": "listar-campanhas-concluidas",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        16
      ],
      "id": "f754fa7e-2bd0-4008-9774-be4ab2ffc3a4",
      "name": "lista_campanhas_Concluidas",
      "webhookId": "b86abcf0-5cfc-4558-91dd-df9422898899"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ",
          "mode": "list",
          "cachedResultName": "N8N - Disparo em massa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1526735880,
          "mode": "list",
          "cachedResultName": "Pós-Campanha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit#gid=1526735880"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status_Campanha",
              "lookupValue": "Concluído"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        16
      ],
      "id": "c22f087e-f55b-49c4-8552-4c6c6390acd2",
      "name": "Lista-campanhas-Concluido",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fn4LkSgE7ACPqCIU",
          "name": "Ismael - Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Ler_Planilha": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Delete rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send template": {
      "main": [
        [
          {
            "node": "Criar/Mover - Pós Camanha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Up - Concluido": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "UP - Contatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UP - Contatos": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "lista_campanhas": {
      "main": [
        [
          {
            "node": "Lista-campanhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista-campanhas": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar/Mover - Pós Camanha": {
      "main": [
        [
          {
            "node": "Up - Concluido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar_Campanha": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar_Template": {
      "main": [
        [
          {
            "node": "Consultar Template - HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Template - HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disparar_Campanha": {
      "main": [
        [
          {
            "node": "Ler_Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lista_campanhas_Concluidas": {
      "main": [
        [
          {
            "node": "Lista-campanhas-Concluido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista-campanhas-Concluido": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "aad4ba10-4d4c-4137-8c69-76d540eebb81",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a11ec061f4cd9c8b4ca38acab2b6f5ff907e2592361a59f69fe0d5f99fe13e93"
  },
  "id": "ExIZ-tl1PSDlg5oIreWuY",
  "tags": []
}