My workflow 2 (2).json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ",
          "mode": "list",
          "cachedResultName": "N8N - Disparo em massa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1241466059,
          "mode": "list",
          "cachedResultName": "Nova_Campanha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit#gid=1241466059"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Nome_Campanha",
              "lookupValue": "={{ $json.query.nome_campanha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        528
      ],
      "id": "6f7282e6-13c6-4e41-a429-f2e74439c0b1",
      "name": "Ler_Planilha",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fn4LkSgE7ACPqCIU",
          "name": "Ismael - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1136,
        528
      ],
      "id": "d5cbaea2-e0a2-45be-98d8-e94784e066a9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "phoneNumberId": "975497088973041",
        "recipientPhoneNumber": "={{ $json.Telefone.toString().replace(/\\D/g, '') }}",
        "template": "={{ $json.Nome_template }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1728,
        544
      ],
      "id": "495e73d5-7ebe-4711-8b61-384ea65f5a5e",
      "name": "Send template",
      "webhookId": "03960570-35c2-4dba-a550-f1ce7b4aab7d",
      "credentials": {
        "whatsAppApi": {
          "id": "rE6RjLkmaZTvc0DK",
          "name": "Vitalis - WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ",
          "mode": "list",
          "cachedResultName": "N8N - Disparo em massa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1241466059,
          "mode": "list",
          "cachedResultName": "Nova_Campanha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit#gid=1241466059"
        },
        "clear": "specificRows",
        "startIndex": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1536,
        352
      ],
      "id": "3b87d6d5-bb1e-4e9a-a879-0450dc84afde",
      "name": "Delete rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fn4LkSgE7ACPqCIU",
          "name": "Ismael - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ",
          "mode": "list",
          "cachedResultName": "N8N - Disparo em massa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1241466059,
          "mode": "list",
          "cachedResultName": "Nova_Campanha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit#gid=1241466059"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Loop Over Items').item.json.row_number }}",
            "Status-Campanha": "={{ $('Loop Over Items').item.json[\"Status-Campanha\"] }}",
            "Status Envio": "Concluído",
            "Nome_template": "={{ $('Loop Over Items').item.json.Nome_template }}",
            "Nome_Campanha": "={{ $('Loop Over Items').item.json.Nome_Campanha }}",
            "Telefone": "={{ $('Loop Over Items').item.json.Telefone }}",
            "Nome": "={{ $('Loop Over Items').item.json.Nome }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome_Campanha",
              "displayName": "Nome_Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome_template",
              "displayName": "Nome_template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Envio",
              "displayName": "Status Envio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status-Campanha",
              "displayName": "Status-Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2544,
        544
      ],
      "id": "d2be9602-dc8b-4397-836f-dc57285c5cc8",
      "name": "Up - Concluido",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fn4LkSgE7ACPqCIU",
          "name": "Ismael - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        304,
        -768
      ],
      "id": "d36ff9fd-302f-4217-8b0b-b1e6d1983f32",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ",
          "mode": "list",
          "cachedResultName": "N8N - Disparo em massa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1241466059,
          "mode": "list",
          "cachedResultName": "Nova_Campanha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit#gid=1241466059"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ $json.nome }}",
            "Telefone": "={{ $json.contato }}",
            "Nome_Campanha": "={{ $json[\"nome da campanha\"] }}",
            "Nome_template": "={{ $json[\"nome do template\"] }}",
            "Status Envio": "Pendente"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome_Campanha",
              "displayName": "Nome_Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome_template",
              "displayName": "Nome_template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Envio",
              "displayName": "Status Envio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        -768
      ],
      "id": "9f746753-2d91-437b-8947-02fdf2675ec0",
      "name": "UP - Contatos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fn4LkSgE7ACPqCIU",
          "name": "Ismael - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"Status\": \"Concluído\",\n  \"Mensagem\": \"Todos os contatos foram salvos na planilha com sucesso.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        928,
        -768
      ],
      "id": "9c34d2ef-a0e6-48f4-b9a3-438458fdcd9c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Criar Campanha\n",
        "height": 336,
        "width": 1136,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -880
      ],
      "typeVersion": 1,
      "id": "a38195b5-4c5f-4140-8712-5fbab82c247e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        928,
        -384
      ],
      "id": "fa49fa0d-c96e-4a75-bb09-e85a153ff096",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "content": "## Campanhas Pendentes\n",
        "height": 336,
        "width": 1136,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -496
      ],
      "typeVersion": 1,
      "id": "5f0468f6-de95-4716-b685-392537a05f68",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Disparador\n",
        "height": 544,
        "width": 2880
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        272
      ],
      "typeVersion": 1,
      "id": "db2bc241-e055-4840-9215-a352935871fb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "path": "listar-campanhas",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        -384
      ],
      "id": "a79c4c32-2ad3-46f4-9890-89acde03199c",
      "name": "lista_campanhas",
      "webhookId": "b86abcf0-5cfc-4558-91dd-df9422898899"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ",
          "mode": "list",
          "cachedResultName": "N8N - Disparo em massa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1241466059,
          "mode": "list",
          "cachedResultName": "Nova_Campanha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit#gid=1241466059"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status Envio",
              "lookupValue": "Pendente"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        -384
      ],
      "id": "3e2ed97d-c10b-4c98-88af-b3c1d24f3f57",
      "name": "Lista-campanhas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fn4LkSgE7ACPqCIU",
          "name": "Ismael - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ",
          "mode": "list",
          "cachedResultName": "N8N - Disparo em massa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1526735880,
          "mode": "list",
          "cachedResultName": "Pós-Campanha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit#gid=1526735880"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_status": "={{ $json.messages[0].message_status }}",
            "Status_Campanha": "Concluído",
            "Nome_template": "={{ $('Up - Enviando').item.json.Nome_template }}",
            "Nome_Campanha": "={{ $('Up - Enviando').item.json.Nome_Campanha }}",
            "Telefone": "={{ $('Up - Enviando').item.json.Telefone }}",
            "Nome": "={{ $('Up - Enviando').item.json.Nome }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome_Campanha",
              "displayName": "Nome_Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome_template",
              "displayName": "Nome_template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Envio",
              "displayName": "Data Envio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu?",
              "displayName": "Respondeu?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status_Campanha",
              "displayName": "Status_Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_status",
              "displayName": "message_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2160,
        544
      ],
      "id": "db00c131-c4c0-4ce1-8221-906c183c14f5",
      "name": "Criar/Mover - Pós Camanha",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fn4LkSgE7ACPqCIU",
          "name": "Ismael - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cadastrar-contato",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        -768
      ],
      "id": "7c7ded79-2d3b-4b3b-97a3-d6b5a1b3c5df",
      "name": "Criar_Campanha",
      "webhookId": "b86abcf0-5cfc-4558-91dd-df9422898899"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v21.0/1831804027473376/message_templates",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1568,
        -784
      ],
      "id": "a68784d7-795a-4933-bb63-d2317abefdaa",
      "name": "Consultar Template - HTTP Request",
      "credentials": {
        "whatsAppApi": {
          "id": "rE6RjLkmaZTvc0DK",
          "name": "Vitalis - WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "path": "consultar-template",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1280,
        -784
      ],
      "id": "e589f13b-afa2-4203-a352-dbbcb8d5ccba",
      "name": "Consultar_Template",
      "webhookId": "e9e79dfc-d6c1-49a7-b8d2-34258e9dd3c7"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1824,
        -784
      ],
      "id": "9ed4c835-94b0-4cf9-99f2-db8614662277",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "content": "## Consulta Template\n",
        "height": 336,
        "width": 864
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        -880
      ],
      "typeVersion": 1,
      "id": "d8d56e06-5b9f-4a3f-a109-12e81525f235",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "path": "disparar_camapanha",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Accept, Origin"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        528
      ],
      "id": "35e55159-0ad3-40c5-a2e8-5dd0cfe4fd6e",
      "name": "Disparar_Campanha",
      "webhookId": "10d19515-e30b-44a1-8cf5-93f4a237f013"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        928,
        16
      ],
      "id": "432a6471-c334-4a08-a48d-857fd0a2fea6",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "content": "## Campanhas Concluídas ",
        "height": 336,
        "width": 1136,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -96
      ],
      "typeVersion": 1,
      "id": "8838dc8c-57ef-4030-bb87-ceb8b016728c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "path": "listar-campanhas-concluidas",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        16
      ],
      "id": "f754fa7e-2bd0-4008-9774-be4ab2ffc3a4",
      "name": "lista_campanhas_Concluidas",
      "webhookId": "b86abcf0-5cfc-4558-91dd-df9422898899"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ",
          "mode": "list",
          "cachedResultName": "N8N - Disparo em massa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1526735880,
          "mode": "list",
          "cachedResultName": "Pós-Campanha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit#gid=1526735880"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status_Campanha",
              "lookupValue": "Concluído"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        16
      ],
      "id": "c22f087e-f55b-49c4-8552-4c6c6390acd2",
      "name": "Lista-campanhas-Concluido",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fn4LkSgE7ACPqCIU",
          "name": "Ismael - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ",
          "mode": "list",
          "cachedResultName": "N8N - Disparo em massa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1241466059,
          "mode": "list",
          "cachedResultName": "Nova_Campanha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit#gid=1241466059"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Loop Over Items').item.json.row_number }}",
            "Status Envio": "Enviando",
            "Nome_Campanha": "={{ $('Loop Over Items').item.json.Nome_Campanha }}",
            "Nome": "={{ $('Loop Over Items').item.json.Nome }}",
            "Telefone": "={{ $('Loop Over Items').item.json.Telefone }}",
            "Nome_template": "={{ $json.Nome_template }}",
            "Status-Campanha": "={{ $json[\"Status-Campanha\"] }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome_Campanha",
              "displayName": "Nome_Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome_template",
              "displayName": "Nome_template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Envio",
              "displayName": "Status Envio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status-Campanha",
              "displayName": "Status-Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1536,
        544
      ],
      "id": "162acd26-9c3a-4492-8eb9-5cb323646c72",
      "name": "Up - Enviando",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fn4LkSgE7ACPqCIU",
          "name": "Ismael - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ",
          "mode": "list",
          "cachedResultName": "N8N - Disparo em massa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1241466059,
          "mode": "list",
          "cachedResultName": "Nova_Campanha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit#gid=1241466059"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Status Envio": "={{ $json[\"Status Envio\"] }}",
            "Nome_Campanha": "={{ $json.Nome_Campanha }}",
            "Nome": "={{ $json.Nome }}",
            "Telefone": "={{ $json.Telefone }}",
            "Nome_template": "={{ $json.Nome_template }}",
            "Status-Campanha": "Ativa"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome_Campanha",
              "displayName": "Nome_Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome_template",
              "displayName": "Nome_template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Envio",
              "displayName": "Status Envio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status-Campanha",
              "displayName": "Status-Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        528
      ],
      "id": "b80f63ff-8e70-49a7-b577-fa5287dafe38",
      "name": "Up - Ativa",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fn4LkSgE7ACPqCIU",
          "name": "Ismael - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2208,
        16
      ],
      "id": "fa0f73c5-dcd1-482c-8b0b-7a08f0713d2b",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "content": "## Campanhas Ativa",
        "height": 336,
        "width": 1136,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        -96
      ],
      "typeVersion": 1,
      "id": "aa5d5447-15e6-4ef6-970e-c244aa63c94c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "path": "listar-campanhas-ativa",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1360,
        16
      ],
      "id": "18636951-7673-4450-952c-14af3087ecb7",
      "name": "lista_campanhas_Ativa",
      "webhookId": "b86abcf0-5cfc-4558-91dd-df9422898899"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ",
          "mode": "list",
          "cachedResultName": "N8N - Disparo em massa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1241466059,
          "mode": "list",
          "cachedResultName": "Nova_Campanha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit#gid=1241466059"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status-Campanha",
              "lookupValue": "Ativa"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        16
      ],
      "id": "a55ba9d0-691f-43f6-ab32-d6b70713320f",
      "name": "Lista-campanhas-Ativa",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fn4LkSgE7ACPqCIU",
          "name": "Ismael - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1568,
        16
      ],
      "id": "f6c8c3dc-ed99-45b5-86c8-797456ffa930",
      "name": "Wait",
      "webhookId": "f1f0bde5-7366-4516-b4e5-ae19db2c25d1"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1360,
        544
      ],
      "id": "5827d4b3-f1c8-4b14-946e-44968518da5c",
      "name": "Wait1",
      "webhookId": "a0cefe0b-f15d-4c76-bb28-cfc4d5d62b6a"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1936,
        544
      ],
      "id": "24ce6a5b-9a03-4bff-9832-8595680c79d4",
      "name": "Wait2",
      "webhookId": "a097e4eb-2461-4a54-bfe1-59bdd576660c"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2352,
        544
      ],
      "id": "de6da567-223c-435b-8a6d-27a6faf3334f",
      "name": "Wait3",
      "webhookId": "aa14c211-a218-47c2-838a-ad90b2ad6920"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        512,
        528
      ],
      "id": "3fb2f7a5-39ad-43db-8ec2-012437deb6e8",
      "name": "Wait4",
      "webhookId": "b6a12f4a-f8dc-4ab5-bccb-1eb3adb73122"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1360,
        352
      ],
      "id": "76bb8e16-397c-4d0a-937b-4559938ae2d1",
      "name": "Wait5",
      "webhookId": "01b95a27-943b-4f48-a2b6-2c2cba22c818"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2208,
        -384
      ],
      "id": "541455c0-3d56-49f3-b722-ea25ba1efb94",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "content": "## Campanhas Concluido\n",
        "height": 336,
        "width": 1136,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        -496
      ],
      "typeVersion": 1,
      "id": "cb6a83ff-3c57-436c-82fe-0611f71ff2a0",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "path": "listar-campanhas-concluida",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1360,
        -384
      ],
      "id": "872adbfb-b41b-48d9-9119-d9da702242fb",
      "name": "lista_campanhas_Conluidas",
      "webhookId": "b86abcf0-5cfc-4558-91dd-df9422898899"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ",
          "mode": "list",
          "cachedResultName": "N8N - Disparo em massa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1526735880,
          "mode": "list",
          "cachedResultName": "Pós-Campanha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VY5BxIWyuUNHsHGjwjrv5qb5C_wss79I8BW6At0AZxQ/edit#gid=1526735880"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        -384
      ],
      "id": "70ce32cf-cb3d-4850-89a3-b8d64e2538d4",
      "name": "Lista-campanhas-Concluido1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fn4LkSgE7ACPqCIU",
          "name": "Ismael - Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "lista_campanhas_Ativa": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n.g0rat2.easypanel.host",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "cache-control": "no-cache",
            "origin": "null",
            "pragma": "no-cache",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "186.250.26.157",
            "x-forwarded-host": "n8n-n8n.g0rat2.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "11bf102f5540",
            "x-real-ip": "186.250.26.157"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://n8n-n8n.g0rat2.easypanel.host/webhook/listar-campanhas-ativa",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Ler_Planilha": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send template": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Up - Concluido": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "UP - Contatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UP - Contatos": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "lista_campanhas": {
      "main": [
        [
          {
            "node": "Lista-campanhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista-campanhas": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar/Mover - Pós Camanha": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar_Campanha": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar_Template": {
      "main": [
        [
          {
            "node": "Consultar Template - HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Template - HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disparar_Campanha": {
      "main": [
        [
          {
            "node": "Ler_Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lista_campanhas_Concluidas": {
      "main": [
        [
          {
            "node": "Lista-campanhas-Concluido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista-campanhas-Concluido": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Up - Enviando": {
      "main": [
        [
          {
            "node": "Send template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Up - Ativa": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lista_campanhas_Ativa": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista-campanhas-Ativa": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Lista-campanhas-Ativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Up - Enviando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Criar/Mover - Pós Camanha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Up - Concluido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Up - Ativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Delete rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lista_campanhas_Conluidas": {
      "main": [
        [
          {
            "node": "Lista-campanhas-Concluido1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista-campanhas-Concluido1": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b62ec8d4-45aa-49b3-a41a-d3166a1c8f33",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a11ec061f4cd9c8b4ca38acab2b6f5ff907e2592361a59f69fe0d5f99fe13e93"
  },
  "id": "ExIZ-tl1PSDlg5oIreWuY",
  "tags": []
}